/* all pages */

body {
    background-image: url(media/Background/background2.jpg);
    background-repeat: unset;
}

.backGroundColour {
    background-color: rgb(28, 31, 32, .7); 
    width: 85%;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

p, h1, footer, q, span, #Headbar, h2, h3, .Center, .backGroundColour, 
.mySlides,  .fullLandscape, .fullPotrait, .numberText, .certBadge, .codeGif, #caption  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

footer {
    background-color: rgb(28, 31, 32);
    font-size: 20px;
    padding: 15px;
    margin-top: 15px;
}

p, footer,  h1 {
    border-radius: 15px;
}

p, h1, footer, q, span, #Headbar, h2, h3, .Center, .caption-container{
    font-size: 20px;
}

p {
    min-height: auto;
    width: 90%;
    padding: 5px;
    min-width: auto;
    text-align: left;
}

h3, h2, h1 {
    max-width: 80%;
    font-weight: bold;
}


h3, h2, h1, footer, q, #Headbar, span, .codelink, #caption {

    text-align: center;
}

h1 {
    font-size: 26px;
    color: rgb(243, 177, 34);
    padding: 24px;

}

h2 {
    font-size: 20px;
    color: rgb(243, 177, 34);
    padding: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
}

h3 {
    font-size: 20px;   
    
}

q, #Headbar {
 
    font-weight: bold;
}

q {
    max-width: 60%;
    padding: 10px;
}

#Headbar {
    font-size: 25px;
}

br {
    
    margin-bottom: 15px;
}

.Center {
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}

a:link, a:visited, a {
    text-decoration: none;
    color: #f0f8ff;
}

a:hover,  a:hover:visited {
    color: turquoise;
}

nav {
    max-width: auto;
}

.navCon {
    width: 80%;
}

span {
    padding-bottom: 10px;
}

#navIcons {
    width: 60%;
    gap: 10%;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 20px;
}

* {
    box-sizing: border-box;
}

/* grids set up */

#navIcons, .certContainer, .codeContainer {
    margin-left: auto;
    margin-right: auto;
    display: grid;
}
/* Home Page */

.certBadge {
    width: 60%;
  }

.certContainer {
    padding-top: 4%;
    width: 80%;
    grid-template-columns:  auto auto auto auto auto auto;
    justify-content: center;
}
  
.certBadge:hover {
    transform: rotatey(45deg);
}

/* Code Page */

.codeGif {
    width: 90%;
    height: 90%;
}

.codeContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
    height: fit-content;
    background-color: rgb(28, 31, 32);
    border-radius: 15px;
  }
  
.code {
    display: block;
    width: 95%;
    height: fit-content;
    padding: 10px;
}

.codelink {
    max-width: 20%;
}

.codeparagraph {
    width: 100%;
}

  /* Photography page */

.PhotoGallery {
    position: relative; 
}

.mySlides {
    display: none;
    width: 80%;
    min-height: 40%;
    max-height: 40%;
  }

#caption {
    font-size: 26px;
}

.caption-container {
    height: 10%
}

.fullLandscape {
    height: auto;
    width: 70%;
}

.fullPotrait {
    height: auto;
    width: 40%;
}

.numberText {
    font-size: 26px;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

  /*thumnail containers */

.column {
    float: left;
    width:16.66%;

}
.column2 {
    float:left;
    width: 10%;
}
 
.row:after {
    content: "";
    display:table;
    clear: both;
}

.thumnail {
     width: 100%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/*JavaScipt Buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#topButton {
  
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 100px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  opacity: .2;
  width:50px;
  cursor: pointer; /* Add a mouse pointer on hover */
  background-color: none;
}
  
#topButton:hover {
  opacity: 1;
}

/* Media Quaries */

@media screen and (max-width: 1600px ) {

    .certContainer {
        grid-template-columns:  auto auto auto auto;
    }
    
    .codeGif {
        height: auto;
    }

    .codeContainer {
        grid-template-columns: auto auto;
    }

    .codeparagraph {
      width: 80%;
    }

    .mySlides {
        width: 85%;
        height: 40%;
  }

  .fullLandscape {
    display: block;
    height: auto;
    width: 90%;
  }

  .fullPotrait {

    height: auto;
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {

    .codeGif {
        height: auto;
        width: 90%;
    }

    .codeContainer {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:830px) {
    .certContainer {
        grid-template-columns: auto  auto auto auto;
        
    }
    .codeContainer {
        grid-template-columns: auto auto;
    }

    #caption {
        font-size: 16px;
    }

    #topButton {
        width: 0px
    }
}
  
@media screen and (max-width: 600px ) {
    q {
        max-width: 100%;
        font-size: 15px
    }

   .codeContainer {
        grid-template-columns: auto;
        gap: 15px;
    }
    
    .certContainer {
        grid-template-columns: auto auto auto auto;
    }
  
    p, h1, footer, span, #Headbar, h2, h3, .Center, .numberText {
        font-size: 16px;
    }

    .codeparagraph {
        width: 90%;
    }

    .codeGif {
        width: 89%;
        height: 50%;
    }
}
