p, footer {
  
    color: aliceblue;
}
footer {
    background-color: rgb(28, 31, 32);
}

p, footer, figcaption, h1 {
    border-radius: 15px;
}

p, figcaption, h1, footer, q, span, #Headbar, h2, h3, .Center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   

}
p, h1, footer, q, span, #Headbar, h2, h3, .Center {
    font-size: 20px;
}

p {


    min-height: auto;
    width: 90%;
    
    padding: 5px;
    min-width: auto;
    text-align: left;
    
}

.codeparagraph {
    width: 100%;
}

h3 {
    font-size: 20px;
    color: aliceblue;
    
}



body {
    background-image: url(media/Background/background2.jpg);
    background-repeat: unset;

    

}

h3, h2, h1 {
    max-width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-weight: bold;
}

figcaption {
    background-color: aliceblue;
    max-width: fit-content;
    padding: 7px;
    font-size: 15px;


}

h3, h2, h1, footer, q, #Headbar, figcaption, span {

    text-align: center;
}

h1 {
    font-size: 26px;
    color: rgb(243, 177, 34);
    padding: 24px;

}

h2 {
    font-size: 20px;
    color: rgb(243, 177, 34);
    padding: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
}




footer {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 20px;
    padding: 15px;
    margin-top: 15px;
}

q, #Headbar {
 
    font-weight: bold;
    color: aliceblue;
}

q {
    max-width: 60%;
    padding: 10px;
}

#Headbar {
    font-size: 25px;
}

br {
    
    margin-bottom: 15px;
}

.Center {
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}

a:link, a:visited {
    color: aliceblue;
    text-decoration: none;
}

a:hover,  a:hover:visited {
    color: turquoise;
}

a:visited {
    color: #f0f8ff;

}

.codelink {
    text-align: center;
    max-width: 20%;
}

nav {
    max-width: auto;
}

span {
    padding-bottom: 10px;
}

.backGroundColour {
    background-color: rgb(28, 31, 32, .7); 
    display: block;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

  #navIcons {
    display: grid;
    width: 50%;
    gap: 80px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 20px;
  }


   
  * {
    box-sizing: border-box;
  }

  .PhotoGallery {
    position: relative;
 
    
  }

  .mySlides {
    display: none;
    
    width: 90%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    
  }
  #caption {
    font-size: 26px;
    padding: 10px;
    text-align: center;
  }

  .fullLandscape {
    display: block;
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  
  }

  .fullPotrait {
    display: block;
    height: auto;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
   
  }
  
    


  .column {
   float: left;
   width:16.66%;
   
  }
  .column2 {
    float:left;
    width: 10%;
  }

  .row:after {
    content: "";
    display:table;
    clear: both;
  }
  .thumnail {
    width: 100%
  }
  .potraitThumnail {
    width: 100%
  }


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



.numberText {
    
    color: aliceblue;
    font-size: 26px;
    width: fit-content;
    padding: 10px;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    

  }

/* Container for image text */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
  width: auto;
  border-radius: 15px;
}

.demo{
  opacity: 0.6;
}

.active,
.demo:hover , .demop:hover{
  opacity: 1;
}

  .certBadge:hover {
    transform: rotatey(45deg);
  }


  .certContainer {
    padding-top: 25px;
    display: grid;
    gap:15px;
   
    grid-template-columns:  auto auto auto auto auto auto;
    justify-content: center;
  }

  .codeContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
    height: fit-content;
    background-color: rgb(28, 31, 32);
    border-radius: 15px;

  }
  .code {
    display: block;
    width: 95%;

    height: fit-content;
    padding: 10px;
    
    
  }


  #topButton {
    
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    opacity: .2;
    width:64px;
    cursor: pointer; /* Add a mouse pointer on hover */
    background-color: none;

  }
  
  #topButton:hover {
  opacity: 1;
  }

  .codeGif {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 90%;
  }
  
  .certBadge {
    width: 150px;
    height: 150px;
  }



  
  
  
 @media screen and (max-width: 1600px ) {
    .mySlides {
      
      
        width: 85%;
        height: 60%;
        margin-left: auto;
        margin-right: auto;
        
      }
    
      .fullLandscape {
        display: block;
        height: auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      
      }
    
      .fullPotrait {
        display: block;
        height: auto;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }

 
   
    

  
    .codeparagraph {
        width: 80%;
    }
    .certContainer {
        grid-template-columns:  auto auto auto auto;
    }
    .certBadge {
        width: 180px;
        height: 180px;
    }
    .codeGif {
        height: auto;

    }
    .codeContainer {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1000px) {
    .certContainer {
        grid-template-columns: auto auto auto;
    } 
    .certBadge {
        width: 160px;
        height: 160px;   
    }
    .codeGif {
        height: auto;
        width: 90%;
    }
    .codeContainer {
        grid-template-columns: auto auto;
    }


   

    

}

@media screen and (max-width:830px){
    .certContainer {
        grid-template-columns: auto  auto auto;
        
    }
    .codeContainer {
        grid-template-columns: auto auto;
    }

  
 
      #caption {
        font-size: 16px;
      }
    

   


    
}
  
@media screen and (max-width: 600px ) {
    q{
        max-width: 100%;
        font-size: 15px
    }

  

   .codeContainer {
        grid-template-columns: auto;
        gap: 15px;
    }
    #navIcons {
        gap: 15px;
    }
    .certContainer {
        grid-template-columns: auto auto auto ;
        gap: 15px;
    }
    .certBadge {
        width: 100px;
        height: 100px;
    }
  


  
    p, h1, footer, span, #Headbar, h2, h3, .Center {
        font-size: 16px;
    }

   
    .codeparagraph {
        width: 90%;
    }
    .codeGif {
        width: 89%;
        height: 50%;
    }
    .numberText {
        font-size: 16px;
    }
    


    


}
@media  screen and (max-width: 320px) {
 

    #navIcons {
        width: 10%;
        height: 10%;
        gap: 5px
    
    }
    .numberText {
        font-size: 5px;
    }
}
